.group-node {
	padding: 10px;
	background-color: rgba(240, 240, 240, 0.8);
	border: 1px solid #ccc;
	border-radius: 8px;
	min-width: 200px;
	min-height: 100px;
	transition: border 0.2s ease;
}

.group-header {
	margin-bottom: 10px;
	font-weight: bold;
}

.group-subheader {
	font-size: 12px;
	color: #666;
}
